/* Sliders */

.unslider {
  position: relative;
  padding: 0;
}

.home-slider-image ul li img {
  width: auto;
  height: 100%;
  min-width: 100%;
  max-width: none;
}

.unslider-nav {
  position: absolute;
  z-index: 2;
  margin-top: -40px;
  padding-top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.unslider-nav ol li {
  background: #FFF;
  width: 12px;
  height: 12px;
  border-width: 4px;
  border-radius: 6px;
  box-shadow: 0px 0px 0 1px rgba(0, 0, 0, 0.1);
}

.unslider-nav ol li.unslider-active {
  background: #000;
  cursor: default;
}

.unslider-arrow {
  display: block;
  width: 32px;
  height: 32px;
  top: 50%;
  right: -50px;
  left: auto;
  margin-top: -45px;
  overflow: hidden;
  background: rgba(0, 0, 0, .2) no-repeat 50% 50%;
  background-image: url('../images/slider/arrow.png');
  background-size: 7px 11px;
  border-radius: 32px;
  text-indent: -999em;
  opacity: .6;
  transition: opacity .2s;
}

.unslider-arrow.prev {
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.unslider-arrow.next {
  left: auto;
  right: 20px;
}

.unslider-arrow {
  position: absolute;
  left: 20px;
  z-index: 2;
  cursor: pointer;
}


/* Header */

.logo {
  width: 156px;
}

#menu-0::selection {
  background: #f1f1f1;
}

#menu-0 section {
  padding: 0;
}

#menu-0 * {
  outline: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#menu-0 .navbar {
  padding: 0;
  margin: 0;
  border-width: 0;
  line-height: 60px;
}

#menu-0 .navbar.navbar-short {
  padding: 0;
}

#menu-0 .dropdown-item:hover {
  background: #f1f1f1;
}

#menu-0 .nav>li>a:focus,
.nav>li>a:hover {
  background-color: #f1f1f1;
}

#menu-0 .navbar {
  background-color: #fff;
}

#menu-0 .dropdown-menu-right {
  right: 0;
  left: auto;
}

#menu-0 .opened .navbar-nav .nav-item {
  width: 100%;
}

#menu-0 .nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
  background: #f1f1f1;
}

#menu-0 .nav-link {
  margin: 0;
  padding: 1.667em 2.583em 1.667em 1.667em;
}

#menu-0 .navbar-dropdown .mbr-table-cell {
  height: auto;
}

#menu-0 .navbar-caption,
#menu-0 .navbar-toggler {
  color: #000;
}

#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #000;
}

#menu-0 .link,
#menu-0 .dropdown-item {
  color: #000;
}

#menu-0 .link {
  font-size: 0.75rem;
}

#menu-0 .nav-link {
  border: none;
}

#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}

#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #000;
}

#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #FFF;
}

#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #f1f1f1 !important;
}

#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #FFF;
}

#menu-0 .bg-color.transparent .link {
  color: #000;
  transition: none;
}

#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}

#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #000;
}

#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #000!important;
}

#menu-0 span {
  font-weight: bold !important;
}


/* Text & Photos */

.text-photos {
  overflow: hidden;
}

.text-photos .row {
  margin-right: 0;
  margin-left: 0;
}

.text-photos .col-sm-5,
.text-photos .col-sm-7 {
  padding-right: 0;
  padding-left: 0;
}

.text-photos .spacer {
  overflow-y: auto;
  max-height: 475px;
}


/* Page Image */

.home-slider-image,
.slider-image {
  width: 100%;
  height: 680px;
  padding-top: 60px;
  overflow: hidden;
  background-color: #FFF;
}

.home-slider-image {
  height: auto;
  min-height: 100%;
  background-color: #222;
}

.home-slider-image img,
.slider-image img {
  width: 100%;
}


/* Timeline */

.tline-item-content {
  width: 59.7%;
}

@media only screen and (max-width:1199px) {
  .tline-item-content {
    width: 50%;
  }
}

@media only screen and (max-width:991px) {
  .tline-item-content {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .tline-item-content {
    width: 100%;
  }
}


/* Services */

.services-section {
  background-color: #F9F9F9;
}

.services-section hr {
  border-bottom: 2px solid #24b662;
  width: 42px;
  margin-left: 0px;
}

.services-section .services-detail {
  border-radius: 4px;
  border-bottom-right-radius: 20%;
  background-color: #ffffff;
  box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 0px;
  padding: 60px 40px 60px 40px;
  margin-top: 32px;
}

.services-section .services-detail:hover {
  border-bottom-right-radius: 4px;
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
  top: -5px;
}

.services-section .services-detail .fa {
  font-size: 42px;
}

.bg1 {
  background-image: url('../img/otter2.jpg');
}

.bg1 .section-heading {
  color: #FFF;
}


/* Map */

.map {
  width: 100%;
  height: 340px;
}


/* Contact */

#contact-form .form-label, #contactmodal-form .form-label {
  display: none;
}

#contact-form .gender .form-label,#contactmodal-form .gender .form-label {
  display: inline-block;
  margin-right: 200px;
}

#contact-form .gender .form-label .inline, #contactmodal-form .gender .form-label .inline{
  font-weight: normal;
}

#contact-form .gender .form-data, #contactmodal-form .gender .form-data {
  display: inline-block;
}

#contact-form .gender .radio {
  display: inline-block;
  margin-right: 150px;
}

#contactmodal-form .gender .radio {
  display: inline-block;
  margin-right: 50px;
}

#contactmodal-form .buttons {  
  text-align: center;
}

#contact-form .gender, #contactmodal-form .gender {
  font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
  margin: 10px 0;
}

#contact-form .gender .radio label, #contactmodal-form .gender .radio label {
  font-weight: 700;
}

@media only screen and (max-width:991px) {
  .regularform input.norightborder {
    border-right: 1px solid #ddd;
  }
}


/* Spacer */

.spacer {
  padding: 5em;
  padding-bottom: 0;
}

@media (max-width: 1200px) {
  .spacer {
    padding: 2em;
  }
}

@media (max-width: 900px) {
  .spacer {
    padding: 1.5em 1.5em 0 1.5em;
  }
}


/* Side Menu */

.side-menu {
  position: fixed;
  z-index: 9;
  right: 0;
  top: calc(50% - 90px);
}

.side-menu a {
  position: absolute;
  right: 0;
  width: 200px;
  margin-right: -140px;
  height: 60px;
  display: block;
  text-align: left;
  line-height: 60px;
  font-size: 12px;  
  border-radius: none;
  color: white;
  transition: margin .5s ease-in-out;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  cursor: pointer;
}

.side-menu a:hover { 
  text-decoration: none;
  margin-right: 0;
}

.side-menu .link-1 {
  margin-top: 0;
  background-color: #6D1D56;
}

.side-menu .link-2 {
  margin-top: 59px;
  background-color: #00A5A2;
}

.side-menu .link-3 {
  margin-top: 118px;
  background-color: #1B3F7E;
}

.side-menu .short {
  position: relative;
  float: left;
  width: 60px;
  height: 58px;
  line-height: 58px;
  display: inline-block;
  text-align: center;
}

.side-menu .short .fa {
  font-size: 24px;
  vertical-align: middle;
}

.side-menu .desc {
  padding: 0 10px;
  float: left;
  width: 120px;
  height: 58px;
  display: table;
  overflow: hidden;
}

.side-menu .desc p {
  display: table-cell;
  vertical-align: middle;
  line-height: normal;
}


/* Section hover */

.hover-extend .reveal {
  display: none;
}


/* Timeline */

.item-hidden {
  display: none;
}

#timeline-button-less.disabled,
#timeline-button-more.disabled {
  opacity: 1;
  background-color: #ddd;
}


/* Photos zone */

.photos-section .row > div {
  padding: 0;
  overflow: hidden;
  position: relative;
  min-height: 600px;
}

.photos-section p {
  padding: 20px;
}

.photos-section img {
  transition: all .5s ease-in-out;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.photos-section img {
  height: 100%;
}

.photos-section .left-img:hover img {
  margin-left: -100%;
}

.photos-section .right-img:hover img {
  margin-left: 100%;
}


/* Footer */

.footer-block {
  margin-top: 0px;
  padding: 40px;
  font-size: 12px;
  height: 400px;
}

.legal {
  padding : 40px;
}

.out {
  position: absolute;
  left: -5000px;
  margin: 0;
  padding: 0;
}