 <section id="contact" class="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="section-heading">{{ header.titre_contact }}</h2>
        <hr class="primary">
        <p>{{ header.texte_contact }}</p>
        <div class="regularform">
          <div class="done">
            <div class="alert alert-success">
              <button type="button" class="close" data-dismiss="alert">×</button>
              Votre message a bien été envoyé. Merci.
            </div>
          </div>
          <form method="post" action="contact.php" id="contactform" class="text-left">
            <input name="first_name" type="text" class="col-sm-12 col-md-6 norightborder" placeholder="Prénom *">
            <input name="last_name" type="text" class="col-sm-12 col-md-6" placeholder="Nom *">

            <input name="tel" type="email" class="col-sm-12 col-md-6 norightborder" placeholder="Téléphone *">
            <input name="email" type="email" class="col-sm-12 col-md-6" placeholder="Addresse email *">

            <div class="col-sm-4 col-xs-12 gender">
              Sexe
            </div>
            <div class="col-sm-4 col-xs-6 gender">
              <label>
                <input type="radio" name="sexe" value="male"> Homme
              </label>
            </div>
            <div class="col-sm-4 col-xs-6 gender">
              <label>
                <input type="radio" name="sexe" value="female"> Femme
              </label>
            </div>

            <textarea name="comment" class="col-sm-12 col-md-12" placeholder="Message *"></textarea>
            <div class="col-md-12" style="text-align:center;">
              <input type="submit" id="submit" class="contact submit btn btn-primary btn-xl" value="{{ header.bouton_contact }}">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>