<div class="side-menu">
  <a class="link-1" type="button" data-toggle="modal" data-target="#contact-modal">
    <span class="short"><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
    <div class="desc">
      <p>Contactez nous</p>
    </div>
  </a>
  <a class="link-2" href="page4.html">
    <span class="short"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>
    <div class="desc">
      <p>Zone de téléchargement</p>
    </div>
  </a>
  <a class="link-3" href="page1.html#services-1">
    <span class="short"><span class="short"><i class="fa fa-cubes" aria-hidden="true"></i></span></span>
    <div class="desc">
      <p>Secteurs</p>
    </div>
  </a>
</div>