<div class="home-slider-image" id="demos" style="background:#F1F1F1; padding-top: 0;">
  <div style="padding: 60px 0 0;">
    <div class="automatic-slider">
      <ul>      
        {% for image in page.media.images %}
        <li>
          <a href="{{ header.listurlslider[loop.index-1].url }}"><img src="{{ image.url }}" /></a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
