<section id="contact" class="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="section-heading">{{ header.titre_telechargement }}</h2>
        <hr class="primary">
        <p>
          {{ header.soustitre_telechargement }}
        </p>
        {% for item in header.list %}
        <a target="{{ item.url }}" href="">{{ item.titre }}</a>
        <br>       
        {% endfor %}
      </div>
    </div>
  </div>
</section>