<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12 text-center">
        <h2 class="section-heading" style="padding-top:60px;">{{ header.titre }}</h2>
        <p>{{ header.texte }}</p>
      </div>
      <div class="col-md-6 col-sm-12 text-center">
        {% for video in page.media.videos %}
        <video width="480" height="272" controls>
          <source src="{{ video.url }}"> Votre navigateur ne supporte pas la vidéo            
        </video>
      {% endfor %}
      </div>     
    </div>
  </div>
</section>